@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700;800&display=swap');
@import 'reset-css';

:root {
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	--mobile-layout: 375px;
	--desktop-layout: 1440px;

	/* Primary Colors */
	--moderate-blue: #5457b6;
	--soft-red: hsl(358, 79%, 66%);
	--light-grayish-blue: #c3c4ef;
	--pale-red: hsl(357, 100%, 86%);

	/* Neutral Colors */
	--dark-blue: hsl(212, 24%, 26%);
	--grayish-blue: hsl(211, 10%, 45%);
	--desktop-gray: #f5f6fa;
	--medium-gray: hsl(240, 1%, 86%);
	--light-gray: hsl(223, 19%, 93%);
	--white: hsl(0, 0%, 100%);

	/* Font, size -- paragraph */
	--font-size: 15px;
	--font: 'Rubik', sans-serif;

	--border-radius: 7px;
}

p {
	font-size: var(--font-size);

	color: var(--grayish-blue);
	letter-spacing: 0.3px;
	line-height: 20px;
}

p,
button,
div,
textarea {
	font-family: var(--font);
}

button,
textarea {
	cursor: pointer;
}
